@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

.container-margin {
  margin-left: 50px;
  margin-right: 50px;
}

nav {
  height: 50px;
  position: relative;
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
}

nav div {
  position: absolute;
  top: 30%;
  right: 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  margin-right: 15px;
}

nav ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

nav ul li a:hover {
  text-decoration: underline;
}

.button {
  color: white;
  border-radius: 4px;
}

.button-primary {
  background-color: #1a73e8;
  padding: 10px 15px;
}

.button-primary:hover {
  background-color: #2b7de9;
  -webkit-box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3), 0 1px 3px 1px rgba(66, 133, 244, 0.15);
          box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3), 0 1px 3px 1px rgba(66, 133, 244, 0.15);
  text-decoration: none;
}

.button-submit {
  background-color: #f8f9fa;
  border: 1px solid white;
  color: #3c4043;
  padding: 10px 30px 10px;
  margin: 5px;
  border-radius: 4px;
}

.button-submit:hover {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first .text-box {
  height: 45px;
  width: 600px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 20px;
}

.first .text-box:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.first .text-box .search {
  height: 100%;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first .text-box .search svg {
  height: 60%;
  width: 60%;
  fill: rgba(0, 0, 0, 0.3);
}

.first .text-box .input {
  width: 80%;
}

.first .text-box .input input[type="text"] {
  outline: none;
  border: none;
  width: 95%;
}

.first .text-box .voice {
  height: 100%;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first .text-box .voice svg {
  height: 60%;
  width: 60%;
  fill: rgba(0, 0, 0, 0.3);
}

.first .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.google-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.google-offer ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.google-offer ul li {
  margin-left: 10px;
}

.google-offer ul li a {
  text-decoration: none;
}

.google-offer ul li a:hover {
  text-decoration: underline;
}

footer {
  height: calc(100vh - (80vh + 51px));
  background-color: aqua;
}

footer .top, footer .bottom {
  width: 100%;
  height: 50%;
  background-color: #f8f9fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .top {
  border-bottom: 1px solid #dadce0;
}

footer .top p {
  margin-left: 50px;
  color: #3c4043;
}

footer .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

footer .bottom ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-right: 50px;
  margin-left: 30px;
}

footer .bottom ul li {
  margin-left: 20px;
}

footer .bottom ul a {
  text-decoration: none;
  color: #70757a;
  font-size: 12px;
}

footer .bottom ul a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */